<!--Страница NotFound-->
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



    
<section class="header">
    
    <div class="parallax_inner">
        <div class="container">
            <div class="text-center mb-50 head">
                <h2 class="mb-25">Ошибка 404</h2>
            </div>
            <div class="row courses" style="text-align: center;">
                
                
                     <h1>Страница не найдена!</h1>   
                    
                
            </div>
        </div>
    </div>
</section>

    




