<!--Страница определенного блога-->
@{
    ViewData["title"] = "Добавить новый блог";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@using WebSite.Models;
@model Blogs;



    
<section class="header">
    <div class="parallax_inner">
        <form asp-controller="Admin" asp-action="AddBlog" enctype="multipart/form-data" method="post" id="formSend">
            <div class="container">
                <div class="text-center mb-50 head">
                    <h2 class="mb-25"><input type="text" value="" placeholder="Название" asp-for="Title" required/></h2>
                </div>
                <div class="row courses">
                    <input type="submit" style="margin-bottom: 20px;" value="Сохранить"/><br>
                    <div class="image-upload" style="display:flex">
                        <div style="width:40%">
                            <p style="color:red">@ViewBag.Message</p>
                            <label for="file-input">
                            <input asp-for="Image" type="hidden" value="" required/>
                                <img id="previewImg" src="~/img/png-clipart-plus-plus.png" style="cursor:pointer" />
                            </label>
                        </div>
                        <div style="width: 55%;margin-left: 20px;">
                            
                           <input class="add_text" type="button" value="Перенос строки">
                           <input class="add_text" type="button" value="Открыть абзац">
                           <input class="add_text" type="button" value="Закрыть абзац">
                           <input class="add_text" type="button" value="Открыть жирный шрифт">
                           <input class="add_text" type="button" value="Закрыть жирный шрифт">

                           <textarea asp-for="Description" id="info_sms_id" required placeholder="Описание"></textarea>
                        </div>
                        <input id="file-input" accept=".png, .jpg, .jpeg" name="formFile" type="file" onchange="previewFile(this);" style="display: none;" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>



<script>
    function previewFile(input){
        var file = $("input[type=file]").get(0).files[0];
    
        if(file){
          var reader = new FileReader();
    
          reader.onload = function(){
              $("#previewImg").attr("src", reader.result);
          }
    
          reader.readAsDataURL(file);
        }
    }
</script>

<script src="~/js/write-helper.js"></script>
