<!--Страница блогов-->
@using WebSite.Models
@model List<Blogs>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    
<section class="header">
    
    <div class="parallax_inner">
        <div class="container">
            <div class="text-center mb-50 head">
                <h2 class="mb-25">Блог</h2>
            </div>
            <div class="row courses">
                @{
                    if (Model!= null)
                    {
                        foreach (var item in Model)
                        {
                            string shortDescription;

                            if (item.Description.Length>100)
                            {
                                shortDescription = item.Description.Substring(0,100);
                            }
                            else
                            {
                                shortDescription = item.Description;
                            }

                            <div class="col-md-4 col-sm-6 course clearfix div-background" style="cursor:pointer" onClick="document.location='Blog/View/@item.Id'">
                                <div class="course_inner">
                                     <div class="info">
                                        <div class="div-image-blog">
                                            <img alt="@item.Title" src="@item.Image">
                                        </div>
                                        <p class="text-bold name-project">@item.Title</p>
                                        <div class="color-short-description-blog">@Html.Raw(shortDescription)...</div>
                                     </div>
                                </div>
                            </div>
    
                        }
                    }
                }
            </div>
        </div>
    </div>
</section>

    




